# -----------------------
# Database (PostgreSQL)
# -----------------------
DB_ENGINE=django.db.backends.postgresql
DB_NAME=test_db_backups
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# -----------------------
# Dropbox Backup Storage
# -----------------------
DROPBOX_APP_KEY=your_dropbox_app_key
DROPBOX_APP_SECRET=your_dropbox_app_secret
DROPBOX_REFRESH_TOKEN=your_dropbox_refresh_token